.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }
        #active {
            color: red;
        }

        .saw {
            color: gray;
        }

        a {
            color: black;
            text-decoration-line: none;
        }
        body {
            background-color: #ecf0f1;
        }

        h2 {
            border-bottom: 1px solid #2c3e50;
            padding: 16px;
            margin: 0;
            font-size: 60px;
            text-align: center;
        }

        #grid{
            display: grid;
            grid-template-columns: 150px 1fr;
        }
        
        #grid ol {
            border-right: 1px solid #2c3e50;
            width: 100px;
            margin: 0;
            padding: 20px;
            padding-left: 33px;
        }
        
        #todo ol{
            width: 500px;
            margin: 0;
            padding: 20px;

        }


        #article{
            padding-left: 26px;
        }
        @media(max-width:800px){
            #grid{
                display: block;
            }
            #grid ol{
                border-right:none;
            }

        }
    