<!DOCTYPE html>
<html>

<head>
    <title>main</title>
    <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/helloworld.js"></script>
    <script src="js/vue.js"></script>
</head>


<body>
    <h2><a href="index.html">mainpage</a><img src="source/taebo.gif" width="7%" height="7%"></h2>
    <div id="grid">
        <ol>
            <!--unorderd list-->
            <li><a href="https://op.gg" title="오피쩜지지" id="active" class="saw">op.gg</a></li>
            <li><a href="1.html" class="saw">PROMISE</font></a></li>
            <li><a href="2.html">ABOUT</a></font></a></li>
            <li><a href="3.html">CONTACT</font></a></li>
        </ol>
        <div id="article">

                
            <h1>ToDo</h1>
            <div class="app-container">
                <div id="todo">
                    <input v-model="message" placeholder="할일을 입력하시오.">
                    <button v-on:click="addTodo(message)">추가</button>
                    <ol>
                        <!-- <todo-item v-for="item in todos" v-bind:todo="item" v-bind:key="item.text">
                        </todo-item> -->
                         <li v-for="(todo, index) in todos">
                                <div v-if='todo.completed'>{{todo.text}}<img v-on:click="completeTodo(index)" src="source/todo_done.png">
                                    <img v-on:click="deleteTodo(index)" src="source/del.png">
                                    <img v-on:click="openPopup(index)" src="source/search.png"></div>
                                <div v-else>{{todo.text}}<img v-on:click="completeTodo(index)" src="source/todo_default.png">
                                    <img v-on:click="deleteTodo(index)" src="source/del.png">
                                    <img v-on:click="openPopup(index)" src="source/search.png"></div>
                               
                            <!-- <p>{{todo.text}}<img src="source/button_search.png" alt="5px"></p> -->
                        </li>
                    </ol>
                </div>

            </div>
        </div>

    </div>
</body>
<script src="js/todo.js"></script>

</html>